<div class="row">
    <div class="col-10">
        <h2 class="text-primary text-center">
            <i class="fas fa-shopping-cart"></i>&nbsp;All Orders
        </h2>
    </div>
    <div>
        <a class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Content Management
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="Index">All Orders</a>
                <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="StatusApproved">Approved Orders</a>
                <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="StatusPending">Pending Orders</a>
                <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="StatusCancelled">Cancelled Orders</a>
                <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="StatusRefunded">Refunded Orders</a>
                <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="StatusProcessing">InProcess Orders</a>
                <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="StatusShipped">Shipped Orders</a>


            </div>
        </a>
    </div>
    @*<div class="col-2">
            <div class="nav-brend dropdown">
                <a class="nav-link dropdown-toggle text-success" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Orders By Status</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="Index">All Orders</a>
                    <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="StatusApproved">Approved Orders</a>
                    <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="StatusPending">Pending Orders</a>
                    <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="StatusCancelled">Cancelled Orders</a>
                    <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="StatusRefunded">Refunded Orders</a>
                    <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="StatusProcessing">InProcess Orders</a>
                    <a class="dropdown-item text-center" asp-area="Admin" asp-controller="Orders" asp-action="StatusShipped">Shipped Orders</a>
                </div>
            </div>
        </div>*@
</div>
<div class="offset-8">
<form asp-controller="Orders" asp-action="ByDateTime" method="get" class="d-flex">
    <input type="date" name="datetime1" />
    <input type="date" name="datetime2" />
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>
</div>
<div class="border container p-2 m-2">
    <table id="tblData" class="table table-striped table-bordered table-hover table-responsive active">
        <thead>
            <tr>
                <th class="text-center text-primary">Customer Name</th>
                <th class="text-center text-primary">Payment Status</th>
                <th class="text-center text-primary">Total Amount</th>
                <th class="text-center text-primary">Order Status</th>
                <th class="text-center text-primary">Date & Time</th>
                <th class="text-center text-primary">All Details</th>
            </tr>
        </thead>
    </table>
</div>
@section scripts
    {
    <script src="~/js/allorders.js"></script>
    }
