<div class="row">
    <div class="col-9">
        <h2 class="text-primary">Shoe Size List</h2>
    </div>
    <div class="col-3">
        <a class="btn btn-info form-control" asp-action="Upsert">
            <i class="fas fa-plus"></i>&nbsp;Create New Shoe Size
        </a>
    </div>
</div>
<br />
<br />
<table id="tblData" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>
@section scripts
{
<script src="~/js/shoesize.js"></script>
}